<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" routerLink="/">Form of registration</a>

</nav>

<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
