<div class="container">
  <div class="row mt-3">
    <h3>Forms of register</h3>
  </div>
  <div class="row mt-3">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               name="name"
               id="name"
               class="form-control"
               formControlName="name"
               placeholder="Enter your name"/>
        <small *ngIf="fieldHasError('name','required')">
          Enter your name!
        </small>
        <small *ngIf="fieldHasError('name', 'name')">
          Enter correct name!
        </small>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
               name="lastName"
               id="lastName"
               class="form-control"
               formControlName="lastName"
               placeholder="Enter your Last name"
        />
        <small *ngIf="fieldHasError('lastName', 'required')">
          Enter your last name!
        </small>
        <small *ngIf="fieldHasError('lastName', 'lastName')">
          Enter correct last name!
        </small>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text"
               name="surname"
               id="surname"
               class="form-control"
               formControlName="surname"
               placeholder="Enter your Surname"
        />
        <small *ngIf="fieldHasError('surname', 'required')">
          Enter your surname!
        </small>
        <small *ngIf="fieldHasError('surname', 'surname')">
          Enter correct surname!
        </small>
      </div>

      <div class="form-group">
        <label for="work">Place of work</label>
        <input type="text"
               name="work"
               id="work"
               class="form-control"
               formControlName="work"
               placeholder="Enter your place of work"
        />
        <small *ngIf="fieldHasError('work', 'required')">
          Enter your place of work!
        </small>
        <small *ngIf="fieldHasError('work', 'work')">
          Enter correct place of work!
        </small>
      </div>

      <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="phone"
               name="phone"
               id="phone"
               class="form-control"
               formControlName="phone"
               placeholder="+(996)xxx-yy-yy-yy"
        />
        <small *ngIf="fieldHasError('phone', 'phone')">
          Enter true phone number!
        </small>
      </div>
      <div class="form-group">

        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="femaleGender"
            value="female"
            name="gender"
            formControlName="gender"
          />
          <label for="femaleGender" class="form-check-label">Female</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="maleGender"
            value="male"
            name="gender"

          />
          <label for="maleGender" class="form-check-label">Male</label>
        </div>
        <small *ngIf="fieldHasError('gender', 'required')">
          Check your gender!
        </small>
      </div>

      <div class="form-group">
        <label for="size">Size</label>
        <select name="size" id="size" class="form-control" formControlName="size">
          <option value="" selected>Select size</option>
          <option value="s">S</option>
          <option value="m">M</option>
          <option value="l">L</option>
          <option value="xl">XL</option>
        </select>
        <small *ngIf="fieldHasError('size', 'required')">
          Check your size!
        </small>
      </div>

      <div class="form-group">
        <label for="comment">Comments</label>
        <textarea name="comment" id="comment" rows="3" class="form-control" formControlName="comment" maxlength="300"></textarea>
      </div>
      <small *ngIf="fieldHasError('comment', 'required')">
        Enter your comments!
      </small>

      <div class="form-group" formArrayName="skills">
        <label for="skill">Skills: </label>

        <button type="button" class="btn btn-outline-info" (click)="addSkills()">Add skills</button>

        <div class="form-inline" *ngFor="let skillControl of getSkillControls(); let i = index">
          <div [formGroupName]="i">
            <select
              formControlName="skill"
              id="skill"
              class="form-control"
            >
              <option value="">Select skill</option>
              <option value="java-script">JavaScript</option>
              <option value="react">React</option>
              <option value="angular">Angular</option>
              <option value="vue">Vue</option>
            </select>&nbsp;

            <select
              formControlName="level"
              id="level"
              class="form-control"
            >
              <option value="">Level of skills</option>
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </div>
      </div>

      <button class="btn btn-primary" [disabled]="profileForm.invalid || isClick">
        <span *ngIf="!isUpLoading">
          Register
        </span>
        <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>&nbsp;
      <button class="btn btn-danger" routerLink="/applications">All list of registration</button>
    </form>
  </div>
</div>


